.line {
    height: 3px;
    border-radius: 3px;
    background-color: white;
    opacity: 0.65;
}

.table-row {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
    transition: 0.5s ease;
}

.table-row:hover {
    color: black;
    background-color: var(--main-brown);
}

.table-row:hover .owner-text {
    color: var(--secondary-dark);
}

.owner-text {
    color: #94a3b8;
    transition: 0.5s ease;
}
